body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato',Arial,Helvetica,sans-serif;
    text-shadow: 0 0 0;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
img,
li,
menu,
nav,
ol,
p,
section,
sub,
sup,
table,
tbody,
td,
th,
thead,
tr,
ul {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.bold {
    font-weight: 700
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.red_text {
    color: red;
}

.green_text {
    color: green;
}

.small_text {
    font-size: 0.8em;
}

.break_word {
    word-wrap: break-word;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

.no_border {
    border: none !important;
    border-color: transparent !important;
}

.red_border {
    border-color: red;
}

.gray_border {
    border-color: #e6e6e6;
}

.thick_border {
    border-width: 2px;
}

.solid_border {
    border-style: solid;
}

span {
    display: inline
}

input {
    border-radius: 0;
    background: white;
    border: 1px solid black;
    box-shadow: none;
}

input[type='submit'],
button {
    min-width: 100px;
    height: 30px;
    margin: 5px;
    background: #abffab;
    border: 1px solid lightgreen;
}

input[type='submit'].archive,
button.archive {
    background: gray;
    border: 1px solid red;
    color: red;
}

.ui-widget-content a, a {
    color: blue;
    text-decoration: underline;
}

.ui-widget-content a:visited, a:visited {
    color: #a0a0dc;
    text-decoration: underline;
}

.ui-widget-content a:hover, a:hover {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #9696ff;
    cursor: pointer
}

.link:hover {
    text-decoration: underline
}

.lightweight {
    font-weight: 200
}

.page_title {
    font-size: 2em;
    font-weight: normal
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.display_block {
    display: block;
}

.display_inline_block, .inline_block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.slight_margin {
    margin: 1%;
}

.slight_padding {
    padding: 1%;
}

.text_align_center {
    text-align: center
}

.margin_auto {
    margin: auto;
}

.margin_on_bottom {
    margin-bottom: 10px;
}

.margin_on_top {
    margin-top: 10px;
}

.margin_left {
    margin-left: 10px;
}

.margin_right {
    margin-right: 10px;
}

.clear_both {
    clear: both;
}

.one-third_left {
    margin-right: 1%;
    padding: 1%;
    width: 30%;
    float: left
}

.two-thirds_left {
    margin-right: 1%;
    padding: 1%;
    width: 64%;
    float: left
}

.one-third_right {
    margin-left: 1%;
    padding: 1%;
    width: 30%;
    float: right
}

.two-thirds_right {
    margin-left: 1%;
    padding: 1%;
    width: 64%;
    float: right
}

.one-quarter_left {
    margin-right: 1%;
    padding: 1%;
    width: 22%;
    float: left
}

.three-quarters_left {
    margin-right: 1%;
    padding: 1%;
    width: 72%;
    float: left
}

.one-quarter_right {
    margin-left: 1%;
    padding: 1%;
    width: 22%;
    float: right
}

.three-quarters_right {
    margin-left: 1%;
    padding: 1%;
    width: 72%;
    float: right
}

#page_content_container {
    padding: 1%;
    min-height: 800px;
}

#page_footer_container {
    padding: 1%;
    min-height: 200px;
}

.desktop_and_tablet,
.desktop_only {
    display: inherit
}

.mobile_only,
.tablet_and_mobile,
.tablet_only {
    display: none
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type="url"],
textarea,
select {
    border: 1px solid gray;
    padding: 10px 2%;
    margin: 10px;
    display: block;
    background: white;
}

.floating_form_label_and_input {
    display: inline-block;
    margin: 1%;
    vertical-align: top;
}

.floating_form_label_and_input label {
    margin: 10px;
}

.floating_form {
    margin: 1% 0;
    clear: both;
    position: relative;
    background-color: #e6e6e6;
    padding: 10px 0;
    max-width: 700px;
}

.floating_form #textarea_wrapper {
    margin: 1%;
}

.floating_form #textarea_wrapper label {
    margin: 10px;
}

.floating_form #textarea_wrapper textarea {
    width: 540px;
    height: 200px;
    font: inherit;
    font-size: smaller;
}

.floating_form input[type='text'], .floating_form input[type='email'], .floating_form input[type='tel'] {
    background-color: white;
}

#bottom_container {
    margin: 20px;
    text-align: center;
    padding: 5px;
    line-height: 30px;
}

table {
    display: table;
    table-layout: fixed;
    border: 1px solid black;
    border-spacing: 0;
    width: 100%;
}

thead {
    display: table-header-group;
    font-weight: bold;
    text-align: center;
    color: white;
}

tbody {
    display: table-row-group;
}

tr {
    display: table-row;
}

td, th {
    display: table-cell;
    border: 1px solid black;
    padding: 1%;
}

th {
    font-weight: bold;
    text-align: left;
}

thead tr:nth-child(odd) {
    background-color: #6e6e6e;
}


tbody tr:nth-child(odd) {
    background-color: #e3e3e3;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd).no_background,
tbody tr:nth-child(even).no_background {
    background: none;
}

hr {
    background: black;
    margin: 1em 0;
    height: 2px;
}

.table_layout_auto {
    table-layout: auto;
}

.table_layout_fixed {
    table-layout: fixed;
}

.width_auto {
    width: auto;
}

.width_initial {
    width: initial;
}

.width_inherit {
    width: inherit;
}

.min_width_initial {
    width: initial;
}

.min_width_inherit {
    width: inherit;
}

.max_width_initial {
    width: initial;
}

.max_width_inherit {
    width: inherit;
}

.vertical_align_top {
    vertical-align: top;
}

.vertical_align_middle {
    vertical-align: middle;
}

.vertical_align_bottom {
    vertical-align: bottom;
}

.vertical_align_baseline {
    vertical-align: baseline;
}

.vertical_align_sub {
    vertical-align: sub;
}

.vertical_align_super {
    vertical-align: super;
}

.vertical_align_text_top {
    vertical-align: text-top;
}

.vertical_align_text_bottom {
    vertical-align: text-top;
}

.gray_background {
    background-color: #e6e6e6;
}

@media screen and (max-width: 800px) {
    .one-third_left,
    .one-third_right,
    .two-thirds_left,
    .two-thirds_right {
        float: none;
        clear: both;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .one-quarter_left,
    .one-quarter_right,
    .two-quarters_left,
    .two-quarters_right {
        float: none;
        clear: both;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .desktop_only {
        display: none
    }

    .desktop_and_tablet,
    .tablet_and_mobile,
    .tablet_only {
        display: inherit
    }

    .mobile_only {
        display: none
    }

    .home .one-third_left,
    .home .two-thirds_right {
        margin: auto;
    }

    .one-third_left, .one-third_right {
        width: 100%;
        clear: both;
    }
}

@media screen and (max-width: 600px) {
    .desktop_and_tablet,
    .desktop_only,
    .tablet_only {
        display: none
    }

    .mobile_only,
    .tablet_and_mobile {
        display: inherit
    }
}