#content_iteration_message {
    width: 88%;
    height: 5em;
}
#content_iterations_wrapper {
    min-height: 300px;
}
.ck_toolbar_buffer {
    margin-top: 120px;
    float: left;
    clear: both;
}

iframe.file_upload {
    border: none;
    width: 100%;
    background: none;
    padding: 1em;
    margin: 1em 0;
}